h1{
  font: 50px;

}

.profile{
width: 5%;
height: 5%;
margin-bottom: 0.1%;
border: 2px solid black;
border-radius: 50%;
  }
.logo{
    margin-top: 0.5%;
    height:90px;
    width:250px;

    margin-left: 2%;
    border-radius: 10px;
}
.logo:hover{

    border-radius: 10px;
}

  .Profile{
    margin-left: 72%;

  }
.Profile:hover {
background:linear-gradient(to right,  #9295fc 0%, #fc79b7 100%);
border-radius: 50%;

}
.header
{
padding-top:0.2vh;
padding-bottom: 0.1vh;


margin-bottom: 2%;
}
