/* .login-signout
{
  width: 150px;
  height: 40px;
  margin-left: 1%;
  border-radius: 10px;
  color: lightgrey;
}
h1{
  margin-left: 3%;
  font-size: 24px;




}
p{
    font-size: 20px;
    margin-left: 3%;
    font-weight: bold;
}
.icon{
  width: 25px;
  height: 25px;
} */
